body {
    margin: 40px;
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(7, 200px);
    grid-template-rows: repeat(7, 100px);
    grid-gap: 10px;
    background-color: #fff;
    color: #444;
}

.box {
    background-color: #444;
    color: #fff;
    border-radius: 5px;
    padding: 20px;
    font-size: 150%;
}

.active {
    background-color: blue;
}

.visible {
    background-color: green;
}

.planewalkable {
    border: 5px solid red;
}
