@import "./scss/drk";
@import "./scss/lgt";
@import "../node_modules/bulma/bulma.sass";

@font-face {
  font-family: 'MazeletterUtopia';
  src:  url('/fonts/mazeletter-utopia.woff2') format('woff2'),
        url('/fonts/mazeletter-utopia.woff')  format('woff');
}

:root {
  --card-radius: 3.5% / 4.7%;
  --form-btn-width: 250px;

  --modal-picker-color: #{$drk-picker-color};
  --modal-picker-bg: #{$drk-picker-background};
  --modal-picker-border: #{$drk-picker-border};
  --modal-picker-checked-border: #{$drk-picker-checked-border};

  @include lgt;
}

[data-theme="drk"] {
  @include drk;
}

[data-theme="sys"] {
  @media (prefers-color-scheme: dark) {
    @include drk;
  }
}

html, body, #app {
  height: 100%;
  color: var(--text-color);
  background-color: var(--bg-color);
  
  .title,
  .subtitle,
  .label {
    color: var(--text-color);
  }

  .modal .title {
    color: whitesmoke;
  }
}

svg.control {
  overflow: visible;
  max-height: 100%;
  height: 100%;

  path {
    fill: var(--text-color);
  }
}

.input {
  background-color: transparent;
  color: var(--input-color);

  &::placeholder {
    color: var(--input-placeholder);
  }
}

button, a, span, div {
  &.button, &.tag {
    &.is-primary {
      border-color: transparent;
      color: var(--btn-primary-color);
      background-color: var(--btn-primary-bg);
      border-color: var(--btn-primary-border);

      &:hover {
        color: var(--btn-primary-color);
        background-color: var(--btn-primary-hover-bg);
      }

      &:active {
        color: var(--btn-primary-color);
        background-color: var(--btn-primary-active-bg);
      }

      &:focus {
        color: var(--btn-primary-color);
        background-color: var(--btn-primary-bg);
      }

      &[disabled] {
        background-color: var(--btn-primary-bg);
      }
      
      &.is-loading::after {
        border-color: transparent transparent var(--secondary) var(--secondary) !important
      }
    }

    &.is-secondary {
      border-color: transparent;
      color: var(--btn-secondary-color);
      background-color: var(--btn-secondary-bg);
      border-color: var(--btn-secondary-border);

      &:hover {
        color: var(--btn-secondary-color);
        background-color: var(--btn-secondary-hover-bg);
      }

      &:active {
        color: var(--btn-secondary-color);
        background-color: var(--btn-secondary-active-bg);
      }

      &:focus {
        color: var(--btn-secondary-color);
        background-color: var(--btn-secondary-bg);
      }

      &[disabled] {
        background-color: var(--btn-secondary-bg);
      }

      &.is-loading::after {
        border-color: transparent transparent var(--primary) var(--primary) !important
      }
    }

    &.is-outlined{
      color: var(--text-color);
      background-color: var(--bg-color);
      border-color: var(--border-color);

      &:hover, &:active, &:focus {
        border-color: #b5b5b5;
      }
    }
  }
}

.symbol {
  box-shadow: none;
  border-radius: 0;
  display: inline-block;
  margin: 1px 1px -1px 1px;
  text-indent: -999em;
  overflow: hidden;
  background-size: 100% 100%;
  background-position: top left;
  background-color: var(--text-color);
  color-adjust: exact;
  mask-repeat: no-repeat;

  &.chaos {
    width: 17px;
    height: 14px;
    mask-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHZpZXdC b3g9JzAgMCAxMjAgMTAwJz48cGF0aCBkPSdNNzYuMTQyIDBjLTM2Ljc2OCAx LjY4IDQuMjUzIDMyLjk5NC0xNi40ODQgNDkuNWwtLjAwNS4wMDQtLjAwNy0u MDEtLjI5My4xMjljLTE0LjUyNCA1Ljg3OS0zMC42OTUtMTcuNzE1LTMxLjE2 NiA3LjA3NiA3LjY3LTExLjUwNiAxMS4xNjctLjI3MyAyMy43NzUtLjk3Ny02 LjEyMyA4LjA5LTMuMTIxIDIxLjY2NC0xMy4zMyAyMy44NzMtMTguNjUgNC4w MzMtMzIuMjk3LTE4LjYzOS0zMS4xNi0zMi44NjkgMi41MjUtMzEuNjAyIDI3 LjI5LTQ1Ljk2OSA1MS44ODEtNDQuNDg4LTMyLjU1LTYuNTE4LTYwLjE0MyAy MC4zMDktNTkuMzM1IDQ4LjEzNy45MjggMzEuOTEgMTcuODU3IDQ3LjUyNyA0 My44NDEgNDkuNjI1IDM2Ljc2OC0xLjY3OC00LjI1My0zMi45OTYgMTYuNDg0 LTQ5LjVsLjAwNS0uMDA0LjAwNy4wMS4yOTQtLjEyOWMxNC41MjMtNS44Nzkg MzAuNjk2IDE3LjcxNSAzMS4xNjUtNy4wNzYtNy42NjkgMTEuNTA2LTExLjE2 Ny4yNzMtMjMuNzc1Ljk3NyA2LjEyMy04LjA5IDMuMTIzLTIxLjY2NCAxMy4z MzEtMjMuODcxIDE4LjY1MS00LjAzMyAzMi4yOTYgMTguNjM3IDMxLjE1OSAz Mi44NjctMi41MjMgMzEuNjA0LTI3LjI4OSA0NS45NjktNTEuODggNDQuNDg4 IDMyLjU1IDYuNTE4IDYwLjE0My0yMC4zMDkgNTkuMzM0LTQ4LjEzOS0uOTI3 LTMxLjkwOC0xNy44NTgtNDcuNTIzLTQzLjg0MS00OS42MjN6JyBmaWxsPScj MDAwJy8+PC9zdmc+Cg== ");
    -webkit-mask-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHZpZXdC b3g9JzAgMCAxMjAgMTAwJz48cGF0aCBkPSdNNzYuMTQyIDBjLTM2Ljc2OCAx LjY4IDQuMjUzIDMyLjk5NC0xNi40ODQgNDkuNWwtLjAwNS4wMDQtLjAwNy0u MDEtLjI5My4xMjljLTE0LjUyNCA1Ljg3OS0zMC42OTUtMTcuNzE1LTMxLjE2 NiA3LjA3NiA3LjY3LTExLjUwNiAxMS4xNjctLjI3MyAyMy43NzUtLjk3Ny02 LjEyMyA4LjA5LTMuMTIxIDIxLjY2NC0xMy4zMyAyMy44NzMtMTguNjUgNC4w MzMtMzIuMjk3LTE4LjYzOS0zMS4xNi0zMi44NjkgMi41MjUtMzEuNjAyIDI3 LjI5LTQ1Ljk2OSA1MS44ODEtNDQuNDg4LTMyLjU1LTYuNTE4LTYwLjE0MyAy MC4zMDktNTkuMzM1IDQ4LjEzNy45MjggMzEuOTEgMTcuODU3IDQ3LjUyNyA0 My44NDEgNDkuNjI1IDM2Ljc2OC0xLjY3OC00LjI1My0zMi45OTYgMTYuNDg0 LTQ5LjVsLjAwNS0uMDA0LjAwNy4wMS4yOTQtLjEyOWMxNC41MjMtNS44Nzkg MzAuNjk2IDE3LjcxNSAzMS4xNjUtNy4wNzYtNy42NjkgMTEuNTA2LTExLjE2 Ny4yNzMtMjMuNzc1Ljk3NyA2LjEyMy04LjA5IDMuMTIzLTIxLjY2NCAxMy4z MzEtMjMuODcxIDE4LjY1MS00LjAzMyAzMi4yOTYgMTguNjM3IDMxLjE1OSAz Mi44NjctMi41MjMgMzEuNjA0LTI3LjI4OSA0NS45NjktNTEuODggNDQuNDg4 IDMyLjU1IDYuNTE4IDYwLjE0My0yMC4zMDkgNTkuMzM0LTQ4LjEzOS0uOTI3 LTMxLjkwOC0xNy44NTgtNDcuNTIzLTQzLjg0MS00OS42MjN6JyBmaWxsPScj MDAwJy8+PC9zdmc+Cg== ");
  }

  &.planeswalk {
    width: 8px;
    height: 15px;
    mask-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHZpZXdC b3g9JzAgMCA1NCAxMDAnPjxwYXRoIGQ9J00wIDUwLjI0N2wuMTU2LTEuOTY5 aC0uMDYxbC4wNjEtLjAzMiAyLjA1OS0yNi4yMzlzMS4wMjYgMTguMTQ3IDQu MDg1IDIzLjM5MmMxLjMxMy0uNTE5IDIuNjQ3LS45ODQgNC4wMDItMS40MDMg My4zMDYtOC42NTcgNC40NjctMzQuMzc5IDQuNDY3LTM0LjM3OXMuNzcyIDIz LjQzNCAzLjY4MSAzMi41MjljMS41OTUtLjIzOSAzLjIxOC0uNDA3IDQuODcy LS41MSAzLjAwNy0xMS4xODggMy44MjQtNDEuNjM2IDMuODI0LTQxLjYzNnMu OTkxIDMwLjUyMSAzLjk1MyA0MS42NzNjMS41NzYuMTE0IDMuMTI3LjI5MiA0 LjY1My41MjggMi44NzMtOS4wNiA0LjAyNC0zMi41OTcgNC4wMjQtMzIuNTk3 cy45MzEgMjUuODY0IDMuOTQxIDM0LjQ0OWMxLjMxOS40MDkgMi42MTcuODcx IDMuODkgMS4zNzYgMy4zMzgtNS4xNzkgNC41MTMtMjMuMzg4IDQuNTEzLTIz LjM4OGwxLjU5MiAyNi4yMjQuMDY3LjAzNGgtLjA2M2wuMTE4IDEuOTQ3cy0y Ni42ODkgOC42OTEtMjYuNjg5IDQ5LjQ4NWMwLTQwLjYwMS0yNy4xNDYtNDku NDg1LTI3LjE0Ni00OS40ODUnIGZpbGw9JyMwMDAnLz48L3N2Zz4K ");
    -webkit-mask-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHZpZXdC b3g9JzAgMCA1NCAxMDAnPjxwYXRoIGQ9J00wIDUwLjI0N2wuMTU2LTEuOTY5 aC0uMDYxbC4wNjEtLjAzMiAyLjA1OS0yNi4yMzlzMS4wMjYgMTguMTQ3IDQu MDg1IDIzLjM5MmMxLjMxMy0uNTE5IDIuNjQ3LS45ODQgNC4wMDItMS40MDMg My4zMDYtOC42NTcgNC40NjctMzQuMzc5IDQuNDY3LTM0LjM3OXMuNzcyIDIz LjQzNCAzLjY4MSAzMi41MjljMS41OTUtLjIzOSAzLjIxOC0uNDA3IDQuODcy LS41MSAzLjAwNy0xMS4xODggMy44MjQtNDEuNjM2IDMuODI0LTQxLjYzNnMu OTkxIDMwLjUyMSAzLjk1MyA0MS42NzNjMS41NzYuMTE0IDMuMTI3LjI5MiA0 LjY1My41MjggMi44NzMtOS4wNiA0LjAyNC0zMi41OTcgNC4wMjQtMzIuNTk3 cy45MzEgMjUuODY0IDMuOTQxIDM0LjQ0OWMxLjMxOS40MDkgMi42MTcuODcx IDMuODkgMS4zNzYgMy4zMzgtNS4xNzkgNC41MTMtMjMuMzg4IDQuNTEzLTIz LjM4OGwxLjU5MiAyNi4yMjQuMDY3LjAzNGgtLjA2M2wuMTE4IDEuOTQ3cy0y Ni42ODkgOC42OTEtMjYuNjg5IDQ5LjQ4NWMwLTQwLjYwMS0yNy4xNDYtNDku NDg1LTI3LjE0Ni00OS40ODUnIGZpbGw9JyMwMDAnLz48L3N2Zz4K ");
  }
}
