$btn-light-color: rgba(0, 0, 0, 0.7);
$btn-light-border: transparent;
$btn-light-background: whitesmoke;
$btn-light-hover-background: #eeeeee;
$btn-light-active-background: #e8e8e8;

$btn-dark-color: #ffffff;
$btn-dark-border: transparent;
$btn-dark-background: #363636;
$btn-dark-hover-background: #2f2f2f;
$btn-dark-active-background: #292929;
