@import './btn';

$drk-bg-color: #111111;

$drk-primary: whitesmoke;
$drk-secondary: #363636;

$drk-input-color: $drk-primary;
$drk-input-placeholder: rgba(245, 245, 245, 0.3);

$drk-brand-maze-color: #1a1a1a;
$drk-brand-color-primary: whitesmoke;
$drk-brand-color-secondary: #dbdbdb;

$drk-btn-primary-color: $btn-light-color;
$drk-btn-primary-border: $btn-light-border;
$drk-btn-primary-background: $btn-light-background;
$drk-btn-primary-hover-background: $btn-light-hover-background;
$drk-btn-primary-active-background: $btn-light-active-background;

$drk-btn-secondary-color: $btn-dark-color;
$drk-btn-secondary-border: $btn-dark-border;
$drk-btn-secondary-background: $btn-dark-background;
$drk-btn-secondary-hover-background: $btn-dark-hover-background;
$drk-btn-secondary-active-background: $btn-dark-active-background;

$drk-btn-warn-color: rgba(0, 0, 0, 0.7);
$drk-btn-warn-border: transparent;
$drk-btn-warn-background: #ffe08a;
$drk-btn-warn-hover-background: #ffdc7d;
$drk-btn-warn-active-background: #ffd970;

$drk-btn-bordered-color: #ffffff;
$drk-btn-bordered-border: transparent;
$drk-btn-bordered-background: #363636;
$drk-btn-bordered-hover-border: #2f2f2f;
$drk-btn-bordered-focus-border: #485fc7;
$drk-btn-bordered-focus-box-shadow: 0 0 0 .125em rgba(72,95,199,.25);

$drk-picker-color: whitesmoke;
$drk-picker-border: #3a3a3a;
$drk-picker-background: transparent;
$drk-picker-checked-border: whitesmoke;
