@import './btn';

$lgt-primary: #363636;
$lgt-secondary: whitesmoke;

@mixin lgt {
  --bg-color: #ffffff;
  --text-color: #{$lgt-primary};
  --border-color: #ededed;

  --input-color: #{$lgt-primary};
  --input-placeholder: rgba(54, 54, 54, 0.3);

  --brand-maze-color: #f9f9f9;
  --brand-color-primary: #4a4a4a;
  --brand-color-secondary: grey;

  --btn-primary-color: #{$btn-dark-color};
  --btn-primary-bg: #{$btn-dark-background};
  --btn-primary-border: #{$btn-dark-border};
  --btn-primary-hover-bg: #{$btn-dark-hover-background};
  --btn-primary-active-bg: #{$btn-dark-active-background};

  --btn-secondary-color: #{$btn-light-color};
  --btn-secondary-bg: #{$btn-light-background};
  --btn-secondary-border: #{$btn-light-border};
  --btn-secondary-hover-bg: #{$btn-light-hover-background};
  --btn-secondary-active-bg: #{$btn-light-active-background};

  --btn-info-color: #296fa8;
  --btn-info-bg: #eff5fb;
  --btn-info-border: transparent;
  --btn-info-hover-bg: #e4eff9;
  --btn-info-active-bg: #dae9f6;

  --btn-warn-color: #946c00;
  --btn-warn-bg: #fffaeb;
  --btn-warn-border: transparent;
  --btn-warn-hover-bg: #fff6de;
  --btn-warn-active-bg: #fff3d1;

  --btn-danger-color: #cc0f35;
  --btn-danger-bg: #feecf0;
  --btn-danger-border: transparent;
  --btn-danger-hover-bg: #fde0e6;
  --btn-danger-active-bg: #fcd4dc;

  --picker-color: #363636;
  --picker-bg: #ffffff;
  --picker-border: #dbdbdb;
  --picker-checked-border: #4a4a4a;
}
